html {
    height:100vh;
    scroll-behavior: smooth;
}

#container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    grid-row:3/4;
    height:50px;
}

.out {
    opacity: 1;
    transform-origin: top center;
    transform:scaleY(1);
    transition:all 0.5s;
}

.out.fade-out {
    transform:scaleY(0);
    opacity: 0;
}

#gridContainer {
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:150px;
    width:920px;
}

.todobox {
    box-shadow: 0 0 5px rgba(0,0,0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    transform-origin: center top;
    transform: scaleY(0.1);
    transition: all 0.5s;
}

.todobox.active {
    transform: scaleY(1);
}

.todobox:hover .trans-box {
    opacity: 0;
}

.todobox > .header-box {
    display:flex;
    justify-content: center;
    font-weight: 700;
    color:#555;
    position: relative;
}

.todobox .trans-box {
    position: absolute;
    opacity: 1;
    width:100%;
    height:100px;
    transform: rotateZ(-45deg);
    transition: all 0.5s;
    background-color: rgba(30,144, 255, 1);
}

.trans-box.head {
    left:-190px;
    top:0;
}

.trans-box.tail {
    right:-180px;
    bottom:-120px;
}

.todobox > .info-box {
    display: flex;
    justify-content: center;
}

.todobox > .info-box > .time {
    display: grid;
    grid-gap:20px;
    width:80%;
    grid-template-columns: 1fr 5fr;
    font-size: 15px;
}
.todobox .icon-box {
    font-size:20px;
    color:#666;
    font-weight: 800;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.todobox .text-box {
    display:flex;
    align-items: center;
}

.todobox > .button-row {
    text-align: left;
}

.todobox > div {
    padding:0.3rem 0.75rem;
}

.icon-btn {
    background-color: #1e90ff;
    color:#fff;
    font-size:20px;
    padding:0.6rem 0.9rem;
    border:none;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: all 0.5s;
}

.icon-btn:hover {
    background-color: #4169e1;
}

.df-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingbox {
    /* px 1em 1rem vw vh  */
    position: fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color: #fff;
    transition: all 0.5s;
    transform: scale(0);
    opacity: 0;
}

#loadingbox.active {
    transform: scale(1);
    opacity: 1;
}